# general
export TZ=UTC

# mysql
export MYSQL_CONFIG_PATH=$HOME/mysql/etc
export MYSQL_DATA_PATH=$HOME/mysql/data
export MYSQL_LOG_PATH=$HOME/mysql/log

# redis
export REDIS_CONFIG_PATH=$HOME/redis/etc
export REDIS_DATA_PATH=$HOME/redis/data

# nginx
export NGINX_CONFIGD_PATH=$HOME/nginx/etc/conf.d
export NGINX_CONFIG_FILE_PATH=$HOME/nginx/etc/nginx.conf
export NGINX_LOG_PATH=$HOME/nginx/log
export NGINX_CACHE_PATH=$HOME/nginx/cache
export LETSENCRYPT_PATH=/etc/letsencrypt
export WWW_PATH=$HOME/nginx/www

# php-fpm
export PHP_CONFIG_PATH=$HOME/php/etc
export PHP_FPM_LOG_PATH=$HOME/php/log
export PHP_APPLICATION_PATH=$HOME/php/application

# rabbitmq
export RABBITMQ_CONFIG_PATH=$HOME/rabbitmq/etc
export RABBITMQ_DATA_PATH=$HOME/rabbitmq/data
export RABBITMQ_LOG_PATH=$HOME/rabbitmq/log

# supervisor
export SUPERVISOR_CONFIG_PATH=$HOME/supervisor/etc
export SUPERVISOR_LOG_PATH=$HOME/supervisor/log
export SUPERVISOR_APPLICATION_PATH=$HOME/php/application

# blackfire
export BLACKFIRE_SERVER_ID=
export BLACKFIRE_SERVER_TOKEN=
export BLACKFIRE_LOG_LEVEL=3
